/***************************************************

****** forum.getkirby.com ******

*** Author: Bastian Allgeier GmbH

****************************************************/

@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,400italic);

*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block;
}
ol, ul {
  list-style: none;
}



/*
 :::  Base
-------------------------------------------------- */
html {
  font-size: 100%;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
}
@media screen and (min-width: 47em) {
  html {
    border: .5em solid #eee;
  }
}
body {
  margin: 0 auto;
  max-width: 1100px;
  padding: 1em .7em;
  font-size: 1em;
  background: #fff;
  color: #222;
  line-height: 1;
}
@media screen and (min-width: 47em) {
  body {
    padding: 2em;
  }
}
body, input, button, textarea, select {
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}


img {
  max-width: 100%;
}



/*
 :::  Links
-------------------------------------------------- */
a {
  color: #222;
  text-decoration: none;
  -webkit-transition: background .3s, color .3s, opacity .3s, border-color .3s;
  transition: background .3s, color .3s, opacity .3s, border-color .3s;
}
a:hover {
  color: red;
}
.text a {
  font-weight: inherit;
  font-style: italic;
  border-bottom: 2px solid #ddd;
}
.text a:hover {
  border-color: #222;
}




h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}
.alpha {
  font-size: 36px;
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 1.25em;
}
.text h1 {
  margin: 0 0 .5em 0;
}

hr {
  height: 1px;
  background: none;
  border: 0;
  border-bottom: 1px dashed #ddd;
}

mark {
  background: red;
  padding: 0 5px;
  color: #fff;
}

blockquote {
  padding-left: 1.5em;
  border-left: 6px solid #ddd;
}

/** Clearfix **/
.cf:after {
  content: "";
  display: table;
  clear: both;
}

.text {
  font-size: 1.25em;
  line-height: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.topic-body .text h1,
.topic-body .text h2,
.topic-body .text h3,
.topic-body .text h4 {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 1.5em;
}
.text p {
  margin-bottom: 1.5em;
}
.text code {
  font-family: Menlo, "Courier New", monospace;
  font-size: .75em;
}
.text p > code {
  background: #ddd;
  display: inline-block;
  padding: 0 .5em;
}
.text pre {
  display: block;
  margin-bottom: 1.5em;
  overflow: auto;
  background: #222;
  color: #fff;
  padding: 1em;
}
.text hr {
  margin: 3em 0;
}
.text ul,
.text ol {
  margin-bottom: 1.5em;
  margin-left: 1em;
}
.text ul ul, .text ul ol,
.text ol ul, .text ol ol {
  margin-bottom: 0;
}



/*
 :::  Header
-------------------------------------------------- */
.site-header {
  position: relative;
  margin-bottom: 3em;
  border-bottom: 2px solid red;
}
@media only screen and (max-width: 47em) {
  .site-header {
    overflow: hidden;
  }
}
.logo {
  display: inline-block;
  position: relative;
  padding: .5em 0 .5em 2em;
  font-size: 2em;
  z-index: 999;
  text-transform: lowercase;
  background: url(../images/kirbyicon.png) no-repeat left center;
}
.logo span {
  font-weight: 300;
  color: #999;
}
.logo:hover {
  color: inherit;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .logo {
    background-image: url(../images/kirbyicon@2x.png);
    background-size: 45px 51px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3) {
  .logo {
    background-image: url(../images/kirbyicon@3x.png);
    background-size: 45px 51px;
  }
}



/*
 :::  Navigation base
-------------------------------------------------- */
.nav li a {
  display: block;
  padding: 1em 0;
  border-top: 1px solid #ddd;
}
.nav > li > a:hover,
.nav > li.is-active > a {
  color: red;
}
@media screen and (min-width: 47em) {
  .nav {
    float: left;
  }
  .nav li {
    float: left;
    position: relative;
    display: inline-block;
    margin-right: 2em;
  }
  .nav li:last-child {
    margin-right: 0;
  }
  .nav li a {
    border-top: none;
  }
  .nav-main .nav-right,
  .nav-right {
    float: right;
  }
}



/*
 :::  Main navigation
-------------------------------------------------- */
.nav-main {
  padding-top: 2em;
}
.nav-main a {
  font-weight: 600;
}
.arrow {
  display: inline-block;
  padding-left: .5em;
  font-weight: 400;
  color: red;
}



/*
 :::  Buttons
-------------------------------------------------- */
[class*='btn'] {
  display: inline-block;
  padding: .5em 1.5em;
  font-size: 1em;
  font-weight: 600;
  border-width: 2px;
  border-style: solid;
  border-radius: 5em;
  border-color: #222;
  color: #222;
  background-color: transparent;
  cursor: pointer;
  transition: background-color .3s, color .3s, border-color .3s;
}
[class*='btn']:hover,
[class*='btn']:focus {
  background-color: #222;
  color: #fff;
}

.btn-negative {
  border-color: #b3000a;
  color: #b3000a;
}
.btn-negative:focus {
  background: #b3000a;
}

.btn-nav .btn {
  display: block;
  text-align: center;
  margin-bottom: 1em;
}
@media screen and (min-width: 30em) {
  .btn-nav .btn {
    display: inline-block;
    text-align: center;
    margin-right: .5em;
  }
}




.notification {
  position: fixed;
  bottom: 0;
  left: 1.5em;
  right: 1.5em;
  z-index: 100000;
  border-top: 2px solid red;
  background: #fff;
  padding: 1.5em;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
}

/* any timestamps */
.date {
  color: #999;
  font-style: italic;
}
.date a {
  color: inherit;
}
.date a:hover {
  color: #222;
}

/* black pill counters */
.counter {
  background: #222;
  color: #fff;
  display: inline-block;
  padding: .3em .75em;
  line-height: 1em;
  border-radius: 10em;
  font-size: .9em;
  font-weight: 300;
  transition: background-color .3s;
}
.counter a {
  color: inherit;
}
.counter:hover {
  background-color: red;
}

/* Breadcrumb */
.breadcrumb {
  position: relative;
  padding-bottom: 1.5em;
  border-bottom: 2px solid #ddd;
  white-space: nowrap;
  overflow: hidden;
}
.breadcrumb li {
  display: inline-block;
}
.breadcrumb li:last-child a {
  color: #222;
}
.breadcrumb li:last-child a:after {
  display: none;
}
.breadcrumb li > a {
  position: relative;
  color: #777;
  display: block;
  margin-right: 1.5em;
  font-size: 1.5em;
}
.breadcrumb li > a:after {
  position: absolute;
  content: attr(data-separator);
  right: -1.1em;
  top: -.05em;
  font-size: 1em;
  font-weight: 400;
  color: red;
}
.breadcrumb li > a:hover {
  color: #000;
}
.breadcrumb-option {
  position: absolute;
  top: 0;
  right: 0;
}

/* Pages */
.page-header {
  border-bottom: 2px solid #ddd;
  padding: 0 0 1.5em;
}
.page-headline {
  font-size: 1.5em;
  font-weight: 400;
}
.page-headline a {
  color: red;
}
.page-headline a:hover {
  color: #000;
}
.page-body {
  padding: 1.5em 0;
}

/* Threads */
.threads {
  margin-top: -1.5em;
}
.thread {
  position: relative;
  border-bottom: 2px solid #ddd;
  padding: 1.5em 0;
}
.thread-headline {
  color: red;
  font-weight: 400;
  line-height: 1.25em;
}
.thread:last-of-type {
  border-bottom: none;
}
.thread p {
  margin-bottom: .5em;
  line-height: 1.5em;
}
.thread-topic-counter {
  display: inline-block;
  margin-bottom: .5em;
}

/* Topic */
.topics {
  border-bottom: 2px solid #ddd;
}
.topic {
  border-bottom: 1px dashed #ddd;
}
.topic:last-of-type {
  border-bottom: none;
}
.topics .topic:last-child {
  border-bottom: 0;
}
.topic-header {
  position: relative;
}
.topic-user {
  position: absolute;
  top: 1.5em;
}
.topic-headline {
  color: red;
  font-weight: 400;
  vertical-align: middle;
  padding: 1em 0;
  line-height: 1.5em;
  margin-left: 3em;
}
.topic-is-solved .topic-headline {
  position: relative;
  color: #777;
}
.topic-headline br {
  display: inline;
}
.topic-meta {
  margin-left: 4.5em;
  margin-bottom: 2em;
}
.topic-date {
  display: block;
  vertical-align: middle;
  margin-bottom: 1.5em;
}
.topic-reply-counter {
  display: inline-block;
  vertical-align: middle;
}
.topic-details .topic-header {
  border-bottom: 1px dashed #ddd;
}
.topic-body,
.reply-body {
  padding: 1.5em 0;
}

/* Replies */
.replies-header {
  position: relative;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  padding: 1.5em 0 1.5em 4.5em;
}
.replies-headline {
  font-weight: 400;
  color: red;
}
.replies-headline small {
  position: absolute;
  font-size: 1em;
  left: 0;
  color: #999;
}

.reply {
  position: relative;
  border-bottom: 1px dashed #ddd;
}
.replies .reply:last-child {
  border-bottom: 0;
}
.reply-header {
  position: relative;
  padding: 1.5em 0;
}
.reply-date {
  position: absolute;
  top: 50%;
  margin-top: -.75em;
  left: 4.5em;
}
.reply-form {
  padding: 1.5em 0;
}


/* Users */
.user-avatar {
  width: 3em;
  height: 3em;
  display: block;
}
.user-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 2px;
  border: 2px solid #ddd;
  transition: border-color .3s;
}
.user-avatar img:hover {
  border-color: #000;
}
.user-username {
  display: none;
}

/* Pagination */
.pagination {
  padding: 1.5em 0;
}
.pagination-prev {
  float: left;
}
.pagination-next {
  float: right;
}

/** Search **/
.search-message {
  text-align: center;
  padding: 1.5em;
}
.search-form {
  border-bottom: 2px solid #ddd;
}
.search-form .buttons {
  text-align: center;
  padding-bottom: 1em;
}

/** Atwho **/
.atwho-view {
  background: #000;
  border: 0;
  border-radius: 0;
  color: #999;
}
.atwho-view .cur {
  background: #444;
}
.atwho-view strong {
  color: #fff;
}
.atwho-view ul li {
  position: relative;
  height: 40px;
  padding: 10px 20px 10px 50px;
  border-bottom: 0;
}
.atwho-view ul li img {
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px solid #fff;
  background: #fff;
}
.atwho-view ul li:last-child {
  border-bottom: 0;
}



@media screen and (min-width: 55em) {

  .notification {
    left: 3em;
    right: 3em;
  }

  .thread p {
    margin-right: 10em;
    margin-bottom: 0;
  }
  .thread-topic-counter {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -.75em;
    margin-bottom: 0;
  }

  .topic-user {
    top: 50%;
    margin-top: -1.5em;
  }
  .topic-headline {
    display: inline-block;
    margin-right: 12em;
  }

  .topic-meta {
    position: absolute;
    top: 50%;
    margin-top: -.75em;
    right: 0;
  }
  .topic-date {
    display: inline-block;
    margin-bottom: 0;
  }
  .topic-reply-counter {
    margin-left: 1em;
  }

  .topic-body,
  .reply-body {
    padding: 3em 3em 3em 4.5em;
    margin-right: 10em;
  }

  .text {
    font-size: 1.25em;
  }

  .reply-header {
    padding: 0;
  }
  .reply-user {
    position: absolute;
    top: 2.75em;
  }
  .reply-date {
    position: absolute;
    right: 0;
    left: auto;
    top: 3em;
    margin-top: 0;
    line-height: 2.5em;
  }

  .reply-form {
    padding: 3em 0;
    margin-left: 4.5em;
    margin-right: 10em;
  }

}



/*
 :::  Footer
-------------------------------------------------- */
.site-footer {
  margin-top: 3rem;
  padding: 0 0 3em 0;
  font-size: 0.9em;
  border-top: 2px solid red;
}
.site-footer p {
  padding: 1em 0;
  line-height: 1em;
}
@media screen and (min-width: 47em) {
  .site-footer p {
    float: left;
  }
}



/*
 :::  Kirby ♥
-------------------------------------------------- */
.red {
  color: red;
}



/*
 :::  Browserupdate
-------------------------------------------------- */
.browserupdate {
  display: block;
  margin-bottom: 3em;
  padding: 2em;
  color: #fff;
  text-align: center;
  background-color: red;
}
.browserupdate a {
  color: #fff;
  text-decoration: underline;
}



/*
 :::  Error page
-------------------------------------------------- */
.error .wrap {
  position: absolute;
  padding: 1.5em;
  top: 50%;
  left: 50%;
  border: 2px dashed #ddd;
  min-width: 16em;
  text-align: center;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  background-image: -webkit-repeating-linear-gradient(135deg, transparent, transparent 10px, rgba(180,180,180,.1) 10px, rgba(180,180,180,.1) 30px);
  background-image: repeating-linear-gradient(135deg, transparent, transparent 10px, rgba(180,180,180,.1) 10px, rgba(180,180,180,.1) 30px);
}
.error header {
  margin-bottom: 1.5em;
  padding-bottom: 1em;
}
.error .btn {
  display: inline-block;
  background-color: #fff;
  margin-top: 1em;
}
.error .text p {
  font-size: 18px;
  line-height: 1.5em;
}
.error .btn:hover {
  background-color: #222;
}


/* border-animation */
.border-animation {
  -webkit-animation: border-animation 1s 1s infinite ease-in-out normal both;
  animation: border-animation 1s 1s infinite ease-in-out normal both;
}
@-webkit-keyframes border-animation {
  0% {
    border-color: #ddd;
  }
  50% {
    border-color: #999;
  }
}
@keyframes border-animation {
  0% {
    border-color: #ddd;
  }
  50% {
    border-color: #999;
  }
}
